<div id="mySidebar" class="sidebar trans">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a routerLink="/crops">Home</a>
    <a routerLink="/manual">Manual access</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/logout">Logout</a>
</div>
<div id="main" class=" mb-5">

    <div class='text-center mb-5 tit'>
    </div>
    <button class="openbtn" (click)="openNav()">Menu &#9776;</button>
    <h2></h2>
    <p></p>
</div>

<div class="main">
    <h1>Contact</h1>

    <div class="wrap flex">
        <div class="l">
            <div class="text text-center">
            We are aiming at best service, we alway try out best to help you out as possible. If you have any questions regarding to our service or products, feel free to contact us!
            </div>
        </div>
        <div class="r">
            <div class="info">
                <div class="mb-3">Phone number:407-760-6658</div>
                <div class="mb-3">Email:xxxxxx@polito.com</div>
                <div class="mb-3">Fax:800-456-125</div>
                <div class="mb-3">Location: Torino,Italy</div>
            </div>
        </div>
    </div>
</div>