<div id="mySidebar" class="sidebar trans">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a routerLink="/crops">Home</a>
    <a routerLink="/manual">Manual access</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/logout">Logout</a>
</div>
<div id="main" class=" mb-5 pt-5">
    <button class="openbtn" (click)="openNav()">Menu &#9776;</button>
    <h2></h2>
    <p></p>
</div>

<div class="main">
    <div class='text-center  tit'>
       <h1>User Account</h1>
    </div>
    <div class="col-md-4">
       <div class="login-form">
          <form>
             <div class="form-group">
                <label>Enter user's email</label>
                <input [(ngModel)]="loginUserData.email" name="Email" type="text" class="form-control mt-2 mb-2"
                   placeholder="Email" required>
             </div>
             <div class="form-group">
                <label>Confirm user's email</label>
                <input [(ngModel)]="loginUserData.email1" name="email1" type="text"
                   class="form-control mt-2 mb-2"  placeholder="Email" required>
             </div>
             <div class="flex">
                <button type="button"  (click)="Register()" class="btn text-right btn-secondary">
                 Register an user account
                </button>
             </div>
          </form>
       </div>
    </div>
 </div>
 <div class="modal" *ngIf="isModel">
     <div class="wrap">
        <div class="text-right close">
            <span (click)="close()">&times;</span>
        </div>
        <div class="info">
            <div class="">Password：{{loginUserData.psd}}</div>
            <div class="">User's name：{{loginUserData.name}}</div>
        </div>
     </div>
 </div>