<html>
    <body>
        
      <div id="overlay1">
        <span id="nav" *ngIf="dataLoaded">
            <div class="spinner" style="display: block; position: fixed">
            </div>
        </span>
        <span id="nav" *ngIf="dataLoaded">
            <div class="submit-message" style="display: block; color: #FFFFFF; position: fixed; left: 49.7%; top: 54.5%;">
                Loading...
            </div>
        </span>
      </div>

        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link btn btn btn-success btn-lg" routerLink='/action' >Manual Access</a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link btn btn btn-success btn-lg" routerLink='/crops' >Home</a>
            </li>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="nav-link btn btn btn-secondary btn-lg" routerLink='/logout'>Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
          </ul>



        <div>
            <iframe [src]='getURL()' frameborder="1px" title="weather forcast" class="holds-the-iframe"></iframe>
        </div>
        
      
    


    </body>
</html>

