<div id="mySidebar" class="sidebar trans">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a routerLink="/manual">Operation</a>
    <a routerLink="/contact">Contact</a>
    <a *ngIf="isRegister" routerLink="/register">Register</a>
    <a routerLink="/logout">Logout</a>
</div>

<div id="main" class=" mb-5">

    <div class='text-center  tit'>
        <h1>My Smart lrrigation</h1>
    </div>
    <button class="openbtn" (click)="openNav()">Menu &#9776;</button>
    <h2></h2>
    <p></p>
</div>

<div id="overlay2">
    <span id="nav" *ngIf="dataLoaded">
        <div class="spinner" style="display: block; position: fixed">
        </div>
    </span>
    <span id="nav" *ngIf="dataLoaded">
        <div class="submit-message" style="display: block; color: #22e684; position: fixed; left: 49.7%; top: 54.5%;">
            Loading...
        </div>
    </span>
</div>
<div class="container">
    <div class='card'>
        <div class='main1'>
            <div class="flex ">
                <div class=" card-1 pb-3 pt-5">
                    <div class="">
                        <h4>Satellite image</h4>
                        <img (click)="showImgModal('imgModal')" src="{{locationList[listIndex].img}}"
                            class="card-img-top mt-3 mb-4" alt="...">
                        <div class="mb-3">Type：Ryegrass</div>
                        <div class="mb-5">Location：
                            <select name="" id="" [(ngModel)]="listIndex">
                                <option value="{{i}}" *ngFor="let locat of locationList;let i = index">{{locat.location}}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class=" card-2 pt-4 " *ngFor='let crop of filteredCrops'>
                    <div class="text-center">
                        <h3 class=" mb-3">
                            Last Evapotranspiration amount:
                        </h3>
                        <div class="circular text-center">
                            2.67 <span>(mm)</span>
                        </div>
                        <div class="time">
                            22:00
                        </div>
                        <div class="tip mt-2 mb-4">
                            *Data last updated 20 hours ago
                        </div>
                        <div class="btn">
                            <a [routerLink]="['/grafana',crop.id]" class="btn"> Historical Data</a>
                        </div>
                    </div>
                </div>
                <div class=" card-1 pb-3 pt-5" *ngIf="datas">
                    <div class="text-center">
                        <h4>Current weather</h4>
                        <img src="{{datas.current.condition.icon}}" width="160" (click)="showImgModal('weatherModal')"
                            class="mb-3" />
                        <div class="mb-2">{{datas.current.temp_c}}℃</div>
                        <div class="mb-1">Today</div>
                        <div class="">{{datas.current.last_updated}}</div>
                        <div class="btn" (click)="showImgModal('weatherModal')" style="position: relative;top: 10px">
                            Weather forecast
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="imgModal">
        <div class="wrap pt-1 ">
            <div class="text-right close">
                <span (click)="closeImgModal('imgModal')">&times;</span>
            </div>
            <div class="wrap-body">
                <div class="flex">
                    <!-- <div class="text-center mb-3">
                        <img src="assets\images\1.jpg" alt="">
                    </div>
                    <div class="text-center mb-3">
                        <img src="assets\images\2.jpg" alt="">
                    </div>
                    <div class="text-center mb-3">
                        <img src="assets\images\3.jpg" alt="">
                    </div> -->
                    <div *ngFor="let img of locationList[listIndex].modalImgList;let i = index" class="text-center mb-3">
                        <img src="{{img}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="weatherModal">
        <div class="wrap pt-1 ">
            <div class="text-right close">
                <span (click)="closeImgModal('weatherModal')">&times;</span>
            </div>
            <div class="wrap-body p-3" *ngIf="datas">
                <div class="" *ngFor="let items of datas.forecast.forecastday">
                    <div class="card mb-5">
                        <div class="mb-2 card-header"> date： {{items.date}}</div>
                        <div class="card-body">
                            <div class=" row row-cols-1 row-cols-md-3 g-4">
                                <div class="col" *ngFor="let item of items.hour">
                                    <div class="card ">
                                        <div class="mb-2 card-header"> {{item.time}}</div>
                                        <div class="mb-2 card-body col">
                                            <div class=""> temp ：{{item.temp_c}}℃ </div>
                                            <div class=""> humidity : {{item.humidity}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>