h1,h3{
    color: #fff;
}

.main{
    margin: 0 5%;
    color: #fff;
}
.main .btn{
    color: #fff;
    background-color: rgb(1, 122, 131);
    border-radius: 50px;
  }
.main>.flex{
    justify-content: space-between;
}
.main .iframe{
    width: 60%;
    border-radius: 30px;
    overflow: hidden;
    height: 500px;
}
.main  .api{
    border-radius: 30px;
    background-color: rgba(63, 63, 63, 0.589);
    margin-left: 5%;
    width: 35%;
    max-width: 450px;
}
.main  .api>.flex{
    justify-content: space-between;
    padding: 0 15px 0;
}
.main  .api .tit{
    font-size: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 15px;
}
.main  .api .flex>div{
    width: 33%;
}   
.main  .api .flex div span.num{
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 50px;
    width: 30px;
    line-height: 25px;
    height: 30px;
    
}
.main  .api .flex .check_wrap{
    max-width: 78px;
     margin: 0 auto;
}
.main  .api .flex div.check{
    background-color: rgba(77, 77, 77, 0.774);
    border-radius: 50px;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 0.74);
    position: relative;
    max-width: 78px;
}
.main  .api .flex div.check.active{
    background-color: rgb(0, 187, 194);
}
.main  .api .flex.ts{
    font-size: 8px;
    color: #ccc;
    justify-content: space-between;
}
.main  .api .flex.ts .active{
    color: #fff;
}

.main  .api .flex div.check span{
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 68px;
    transition: 0.3s;
}
.main  .api .flex div.check.active span{
    right: 0px;
    left: calc(100% - 28px);
}
.main  .api .flex div.change span{
    width: 30%;
    display: inline-block;
    text-align: center;
    font-size: 18px;
}
.main  .api .flex div.change span.up,.main  .api .flex div.change span.down{
    cursor: pointer;
}
@media screen and (max-width: 414px) {
.main > .flex{
    display: block;

}
.main .iframe{
    width: 100%;
    height: 300px;
}
.main > .flex .api{
    width: 100%;
    margin: 30px 0 0 0;
}
  }